<div class="col-md-8 col-md-offset-2">
  <h4 style="color: Crimson">组件分类</h4>
  <ul>
    <li>
     <strong>声明式组件：</strong>
      即常规的组件，通过selector声明后，在模板中调用。
    </li>
    <li>
      <strong>入口组件：</strong>
      即命令式加载的任意组件。
      <ul>
        <li>1. 引导用的根组件</li>
        <li>2. 路由定义的指定组件</li>
      </ul>
    </li>
  </ul>
  <br>
  <h4 style="color: Crimson">1. 引导用的入口组件</h4>
  <p>Angular 通过@NgModule.bootstrap函数 动态加载根组件 AppComponent。<br>
  【 参考app.module.ts中的备注 】
  </p>
  <br>
  <h4 style="color: Crimson">2. 路由到的入口组件</h4>
  <p>特性模块的路由模块中的 组件路由定义，例如：<br>
    <code>
      const routes: Routes = [
      &#123;
      path: '',
      component: CustomerListComponent
      &#125;
      ];
    </code><br>
    所有路由组件都必须是入口组件。<br>
    编译器可以识别出这是一个路由定义，<br>
    会自动把它添加到 entryComponents 中。<br>
  </p>

  <br>
  <h4 style="color: Crimson">entryComponents 入口组件</h4>
  <p>1 2 均自动添加到entryComponents，<br>
    但如果用其它方式根据类型来命令式的引导或动态加载某个组件，<br>
    你需要把他们手动添加到 entryComponents 中。<br>例如：动态组件</p>

</div>
