<div class="col-md-8 col-md-offset-2">
  <h4 style="color: Crimson">组件分类</h4>
  <ul>
    <li>
     <strong>声明式组件：</strong>
      即常规的组件，通过selector声明后，在模板中调用。
    </li>
    <li>
      <strong>入口组件：</strong>
      即命令式加载的任意组件。
      <ul>
        <li>1. 引导用的根组件</li>
        <li>2. 路由定义的指定组件</li>
      </ul>
    </li>
  </ul>
  <br>
  <h4 style="color: Crimson">引导用的入口组件</h4>
  <p>Angular 通过@NgModule.bootstrap函数 动态加载根组件 AppComponent。<br>
  【 参考app.module.ts中的备注 】
  </p>
  <br>
  <h4 style="color: Crimson">路由到的入口组件</h4>
  <p>特性模块的路由模块中的 组件路由定义，例如：<br>
    <code>
      const routes: Routes = [
      &#123;
      path: '',
      component: CustomerListComponent
      &#125;
      ];
    </code><br>
    所有路由组件都必须是入口组件。<br>
    这需要你把同一个组件添加到两个地方（路由中和 entryComponents 中），<br>
    但编译器足够聪明，可以识别出这里是一个路由定义，<br>
    因此它会自动把这些路由组件添加到 entryComponents 中。<br>
  </p>

  <br>
  <h4 style="color: Crimson">entryComponents 入口组件</h4>
  <p>Angular 会自动把 @NgModule.bootstrap 中的组件以及路由定义中的组件添加到入口组件中。<br>
    虽然这两种机制足够自动添加大多数入口组件，<br>
    但如果你要用其它方式根据类型来命令式的引导或动态加载某个组件，<br>
    你就必须把它们显式添加到 entryComponents 中了。<br>
    例如：动态组件</p>

</div>
