<div class="col-mg-8 col-md-offset-2">
  <h4 style="color: Crimson;">路由定义配置</h4><br>

  <strong>1. 路由模块创建</strong>
  <p>根路由：<code>ng g module app-routing --module=app</code> 并在根模块引入</p>
  <p>字路由：<code>ng g module module-name --routing</code> ( 创建模块时创建路由 )</p>

  <strong>2. 路由配置</strong>
  <pre>
    <code>const routes: Routes = [
        // 无参
        &#123; path: '/news', component: NewsComponent &#125;
        // 传参
        &#123; path: '/news/:id', component: NewsComponent &#125;
        // 懒加载
        &#123; path: '/other', loadChildren: "./other/other.module#otherModule" &#125;
        // 重定向
        &#123; path: '**', pathMatch: 'full', redirectTo: ''  &#125;
        // 默认路径
        &#123; path: '',  component: NewsComponent  &#125;
    ];</code></pre>
  <pre>
    <code>// 导出以供调用
    @NgModule &#40;&#123;
        imports: [
            RouterModule.forRoot  &#40; appRoutes &#41; // 其他子路由用 forChild()
        ],
        exports: [RouterModule]
    &#125;&#41;</code></pre>

  <strong>3. 路由加载</strong>
  <pre>
    <code>// 在根组件或当前组件的模板中
    < router-outlet >< /router-outlet >
    // 多个路由区域 -- 即访问 /news/ 时同时加载 NewsComponent 和 News2Cmponent 两个组件
    &#123; path: 'news', outlet:'let1'  component: NewsComponent &#125;
    &#123; path: 'news', outlet:'let2'  component: News2Cmponent &#125;
    < router-outlet name="let1" >< /router-outlet >
    < router-outlet name="let2" >< /router-outlet >
    </code></pre>

  <strong>4. 链接及访问</strong>
  <pre>
    <code>< a routerLink="/detail/1" routerLinkActive="active">detail< /a>
    < a [routerLink]="['/detail', news . id]">&#123; &#123; news.title &#125; &#125;< /a>
    < a [routerLink]="[&#123; outlets: &#123; let2: ['news'] &#125; &#125;]">Contact< /a>

      // routerLinkActive="active" 即在本路由激活时添加样式 .active</code></pre>
       或
  <pre>
    <code>import &#123; Router &#125; from '@angular/router';
      constructor&#40; private router: Router ;&#41; &#123;&#125;
      this.router.navigate&#40;['/detail', this.news.id];&#41;
      this.router.navigate&#40;[&#123; outlets: &#123; let2: null &#125;&#125;];&#41;;</code></pre>
  <br><br>
</div>
