/* You can add global styles to this file, and also import other style files */
body{
  font-family:'Microsoft YaHei UI';
  /*background-size: 500px 500px;*/
  /*background-image: url("assets/img/bg1.png");*/
}
.navbar-inverse .navbar-nav>li>a {
  color: #cccccc;
}
pre{
  border: none;
  color: #666666;
}
strong{
  color: #555555;
}
p{
  color: #666666;
}
